@model ForumDisscussion.Models.UserPasswordUpdateModel

@{
    ViewBag.Title = "UpdatePassword";
}

<style>
    .btn{width: 90px}
</style>
<link href="~/CSS/gh-buttons.css" rel="stylesheet" />

<script src="~/KendoUI/kendo.all.min.js"></script>
<h2>Update Password</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserPasswordUpdateModel</legend>

        <div class="editor-label">
           Old Password
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OldPassword)
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmNewPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmNewPassword)
            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
        </div>
        <br/>
        <p>
            <input type="submit" value="Update" class="btn btn-primary color" />
            @Html.ActionLink("Back", "UserAnsQuestionList", "UserHomePage", new { @class = "button icon arrowleft  backLink bakToHom" })
        </p>
    </fieldset>
}
<div id="successMessageReferenceDiv"> </div>

<div id="succDialog" style="visibility: hidden">
    <img src="~/Png/1405880759_accepted_48.png" width="35"/>
    Your  Password Updated Successfully.
</div>
<input type="text" value="@ViewBag.successMs" id="successId" style="display: none"/>
<script>
    function displaySuccessMessage(text) {
        $("#successMessageReferenceDiv").html('<h4>' + text + '</h4>').fadeIn().delay(3000).fadeOut();

    }
    if ($("#successId").val()==1) {
     
        displaySuccessMessage('     <img src="/Png/1405880759_accepted_48.png" width="35" /> Thanks!. Your <b>password</b> has been <b>changed</b> successfully.');

    }
    $(".color").css('color', 'white');


</script>