@model ForumDisscussion.Models.ForumuserSignUpModel

@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp</h2>

@using(Html.BeginForm("SignUp","UserLoginSignUp",FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    
    
    
    
     @Html.ValidationSummary(true)

    <fieldset>
        <legend>ForumUser</legend>

  

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Country)
        </div>
        <div class="editor-field">
            
            <select name="Country">
                
                <option value="">Select Your Country</option>
                <option value="Bangladesh">Bangladesh</option>
                <option value="India">India</option>
                <option value="Srilanka">Srilanka</option>
                <option value="Pakistan">Pakistan</option>
                <option value="Nepal">Nepal</option>
                <option value="Australia">Australia</option>
                <option value="America">America</option>
                <option value="Mianmar">Mianmar</option>
                <option value="Japan">Japan</option>

            </select>
            @Html.ValidationMessageFor(model => model.Country)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        
        
              <div class="editor-label">
            @Html.LabelFor(model => model.Image)
        </div>
        <div class="editor-field">
           <input type="file" name="file"/>
            @Html.ValidationMessageFor(model => model.Image)
        </div>
        
        

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
          <label>Confirm Password</label>
        </div>
        <div class="editor-field">
         <input type="password" name="cpass"/>
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
